out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
multilingual.iml  # 追加: git status にあったimlファイル

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.DS_Store

node_modules/
npm-debug.log*
.idea/
*.iml

target/
build/